@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  color: #000;
  font-size: 1.8rem;
  overflow-x: hidden;
  position: relative;
}

img {
  font-family: 'object-fit: cover; object-position: center;';
  height: 100%;
  object-fit: cover;
  width: 100%;
}
